<!-- ページ全体のコンテンツを囲むセクション -->
<div class="contents">
  <!-- ユーザー関連のコンテンツをまとめたコンテナ -->
  <div class="user_container">
    <!-- ヘッダーとして表示される見出し -->
    <h2>ユーザー新規登録画面</h2>

    <!-- ログインページへのリンク -->
    <%= link_to "登録済みの方はこちら", new_user_session_path %>

    <!-- ユーザー新規登録ページへのリンク -->
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>

      <!-- 共通のエラーメッセージを表示する部分 -->
      <%= render 'shared/error_messages', model: @user, object: f.object %>

      <!-- ユーザー名入力欄 -->
      <div class="field">
        <%= f.label :ユーザー名 %><br />
        <%= f.text_field :name, autofocus: true, maxlength: "10", placeholder: "10文字以内で入力してください　例）テスト太郎" %>
      </div>

      <!-- メールアドレス入力欄 -->
      <div class="field">
        <%= f.label :Eメールアドレス %><br />
        <%= f.email_field :email, placeholder: "例）test@test.com" %>
      </div>

      <!-- パスワード入力欄 -->
      <div class="field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "off", placeholder: "半角英数字6文字以上で入力してください" %>
      </div>

      <!-- パスワード確認入力欄 -->
      <div class="field">
        <%= f.label :パスワード（確認） %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "上と同じパスワードを入力してください" %>
      </div>

      <!-- アクションボタン -->
      <div class="actions">
        <%= f.submit "登録する" %>
      </div>
    <% end %>
  </div>
</div>
