<!-- ワーク一覧を表示するセクション -->
<div class="works">
  <% if works&.any? %>
    <% works.group_by { |work| work.created_at.to_date }.each do |date, works_on_date| %>
      <!-- 日付ごとにテーブルを作成 -->
      <div class="works_container">
        <h2><%= date.strftime('%Y年%-m月%-d日') %></h2>
        <!-- ワークの一覧を表示するテーブル -->
        <table class="works_table">
          <!-- テーブルのヘッダー -->
          <thead>
            <tr>
              <th>投稿日時</th>
              <th>自動思考（自己批判的）</th>
              <th>認知のゆがみ</th>
              <th>合理的な反応（自己擁護的）</th>
              <th>詳細</th>
            </tr>
          </thead>
          <!-- テーブルのボディ -->
          <tbody>
            <% works_on_date.each do |work| %>
              <!-- 各ワークの行 -->
              <tr>
                <!-- 投稿日時セル -->
                <td class="cell_date">
                  <%= work.created_at.strftime('%H:%M') %>
                </td>
                <!-- 自動思考セル -->
                <td class="cell_auto"><%= work.automatic_thought %></td>
                <!-- 認知のゆがみセル -->
                <td class="cell_distortion"><%= CognitiveDistortion.find(work.cognitive_distortion_id).name %></td>
                <!-- 合理的な反応セル -->
                <td class="cell_rational"><%= work.rational_thought %></td>
                <!-- 詳細リンクセル -->
                <td class="cell_detail"><%= link_to "詳細を見る", work_path(work.id) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  <% else %>
    <!-- ワークが存在しない場合の表示 -->
    <p>ワークがありません。</p>
  <% end %>
</div>