<div class="contents">
  <div class="container">
    <h2>ログイン画面</h2>
    <%= link_to "ユーザー登録がまだの方はこちら", new_user_registration_path %>
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'login-form', local: true do |f| %>
      <%= flash[:notice] %>
      <%= flash[:alert] %>

      <div class="field">
        <%= f.label :Eメールアドレス %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.label :ログイン状態を保持 %><br />
          <%= f.check_box :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "ログインする" %>
      </div>
    <% end %>
  </div>
</div>