<!DOCTYPE html>
<html>
  <head>
    <title>CbtApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <header class="header">
        <h1 class="application_title"><a href="/">認知行動療法実践アプリ</a></h1>
        <% if user_signed_in? %>
        <div class="log_out_button">
          <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>
        </div>
        <% else %>
        <div>
          <%#= link_to "ログイン", new_user_session_path, class: "post" %>
          <%#= link_to "新規登録", new_user_registration_path, class: "post" %>
        </div>
        <% end %>
    </header>

    <%= yield %>

    <footer></footer>
  </body>
</html>

</html>
